[run]
source = sphinxcontrib.programoutput
# New in 5.0; required for the GHA coveralls submission.
relative_files = True

[report]
exclude_lines =
  pragma: no cover
  if __name__ == .__main__.:
  def test_suite()
