include README.rst
include LICENSE
include CHANGES.*
include tox.ini
include .travis.yml
include .coveragerc
include .pylintrc
include *.txt
include *.yml

prune docs/_build

recursive-include src *.py
recursive-include docs *.rst *.py *.txt *.css
