name: tests

on: [push, pull_request]

env:
  PYTHONHASHSEED: 1042466059
  ZOPE_INTERFACE_STRICT_IRO: 1



jobs:
  test:
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'setup.py'
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install -U tox
    - name: Test
      run: |
        tox -v -e py
    - name: Lint
      if: matrix.python-version == '3.12'
      run: |
        python -m pip install -U pylint ".[test]"
        pylint src
